.container {
  display: flex;
  flex-direction: row;
  align-items: normal;
}

app-user-form,
app-user-list {
  margin-bottom: 10px;
  width: 50%;
}

app-user-log {
  display: flex;
  align-items: flex-end;
  width: 100%; /* Полная ширина для user-log */
}

